openapi: 3.0.4
info:
  title: Crossword Generator
  description: Crossword Generator creates crossword puzzles with intersecting words, numbered clues, and themed word selection.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.9
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
- url: https://api.apiverve.com/
paths:
  /v1/crossword:
    get:
      summary: Generate Crossword
      description: Crossword Generator creates crossword puzzles with intersecting words, numbered clues, and themed word selection.
      operationId: crossword
      parameters:
      - name: size
        default: medium
        in: query
        schema:
          type: string
        required: false
        description: 'Grid size: small, medium, large'
        example: medium
      - name: theme
        default: random
        in: query
        schema:
          type: string
        required: false
        description: 'Theme: random, animals, food, sports, science, geography'
        example: animals
      - name: difficulty
        default: medium
        in: query
        schema:
          type: string
        required: false
        description: 'Difficulty: easy, medium, hard'
        example: medium
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: string
                    description: data
              example:
                status: ok
                error: 
                data:
                  size: 15
                  difficulty: medium
                  theme: animals
                  grid:
                  - - 
                    - 
                    - 
                    - 
                    - 
                    - 
                    - 
                    - 
                    - 
                    - 
                    - 
                    - 
                    - 
                    - 
                    - 
                  - - 
                    - T
                    - I
                    - G
                    - E
                    - R
                    - 
                    - 
                    - 
                    - 
                    - 
                    - 
                    - 
                    - D
                    - 
                  - - 
                    - 
                    - 
                    - I
                    - 
                    - 
                    - 
                    - 
                    - 
                    - 
                    - R
                    - 
                    - 
                    - E
                    - 
                  - - Z
                    - E
                    - B
                    - R
                    - A
                    - 
                    - 
                    - D
                    - 
                    - 
                    - A
                    - 
                    - 
                    - E
                    - 
                  - - 
                    - 
                    - 
                    - A
                    - 
                    - L
                    - I
                    - O
                    - N
                    - 
                    - B
                    - E
                    - A
                    - R
                    - 
                  - - W
                    - O
                    - L
                    - F
                    - 
                    - 
                    - 
                    - L
                    - 
                    - 
                    - B
                    - 
                    - 
                    - 
                    - 
                  - - 
                    - W
                    - 
                    - F
                    - 
                    - P
                    - 
                    - P
                    - 
                    - 
                    - I
                    - 
                    - 
                    - 
                    - 
                  - - 
                    - L
                    - 
                    - E
                    - L
                    - E
                    - P
                    - H
                    - A
                    - N
                    - T
                    - 
                    - 
                    - 
                    - 
                  - - 
                    - 
                    - 
                    - 
                    - 
                    - N
                    - 
                    - I
                    - 
                    - 
                    - 
                    - 
                    - 
                    - 
                    - 
                  - - 
                    - 
                    - 
                    - 
                    - 
                    - G
                    - 
                    - N
                    - 
                    - 
                    - 
                    - 
                    - 
                    - 
                    - 
                  - - 
                    - 
                    - 
                    - 
                    - 
                    - U
                    - 
                    - 
                    - 
                    - 
                    - 
                    - 
                    - 
                    - 
                    - 
                  - - 
                    - 
                    - 
                    - 
                    - 
                    - I
                    - 
                    - 
                    - 
                    - 
                    - 
                    - 
                    - 
                    - 
                    - 
                  - - 
                    - 
                    - 
                    - P
                    - A
                    - N
                    - D
                    - A
                    - 
                    - 
                    - 
                    - 
                    - 
                    - 
                    - 
                  - - 
                    - 
                    - 
                    - 
                    - 
                    - 
                    - 
                    - 
                    - 
                    - 
                    - 
                    - 
                    - 
                    - 
                    - 
                  - - 
                    - 
                    - 
                    - 
                    - 
                    - 
                    - 
                    - 
                    - 
                    - 
                    - 
                    - 
                    - 
                    - 
                    - 
                  across:
                  - number: 1
                    clue: Striped big cat
                    answer: TIGER
                    length: 5
                  - number: 5
                    clue: Striped horse-like animal
                    answer: ZEBRA
                    length: 5
                  - number: 7
                    clue: King of the jungle
                    answer: LION
                    length: 4
                  - number: 8
                    clue: Large furry mammal
                    answer: BEAR
                    length: 4
                  - number: 9
                    clue: Wild canine that howls
                    answer: WOLF
                    length: 4
                  - number: 12
                    clue: Large gray mammal with trunk
                    answer: ELEPHANT
                    length: 8
                  - number: 13
                    clue: Black and white bear from China
                    answer: PANDA
                    length: 5
                  down:
                  - number: 2
                    clue: Tallest land animal
                    answer: GIRAFFE
                    length: 7
                  - number: 3
                    clue: Forest animal with antlers
                    answer: DEER
                    length: 4
                  - number: 4
                    clue: Hopping animal with long ears
                    answer: RABBIT
                    length: 6
                  - number: 6
                    clue: Intelligent marine mammal
                    answer: DOLPHIN
                    length: 7
                  - number: 10
                    clue: Nocturnal bird of prey
                    answer: OWL
                    length: 3
                  - number: 11
                    clue: Flightless bird from Antarctica
                    answer: PENGUIN
                    length: 7
                  wordCount: 13
                  html: "<html><head><title>Crossword Puzzle</title><style>body {font-family: Arial, sans-serif; padding: 20px;}h1 {text-align: center; color: #333;}.container {display: flex; gap: 30px; flex-wrap: wrap; justify-content: center;}.grid {display: grid; grid-template-columns: repeat(15, 30px); gap: 1px; background: #333; border: 2px solid #333;}.cell {width: 30px; height: 30px; background: #fff; display: flex; align-items: center; justify-content: center; font-weight: bold; position: relative;}.cell.black {background: #333;}.cell-number {position: absolute; top: 1px; left: 2px; font-size: 8px; font-weight: normal;}.clues {max-width: 300px;}.clue-section h3 {margin-bottom: 10px; color: #333;}.clue {margin: 5px 0; font-size: 14px;}.clue-number {font-weight: bold; margin-right: 5px;}</style></head><body><h1>Crossword</h1><div class='container'><div class='grid'><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell'><span class='cell-number'>1</span></div><div class='cell'></div><div class='cell'><span class='cell-number'>2</span></div><div class='cell'></div><div class='cell'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell'><span class='cell-number'>3</span></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell'><span class='cell-number'>4</span></div><div class='cell black'></div><div class='cell black'></div><div class='cell'></div><div class='cell black'></div><div class='cell'><span class='cell-number'>5</span></div><div class='cell'></div><div class='cell'></div><div class='cell'></div><div class='cell'></div><div class='cell black'></div><div class='cell black'></div><div class='cell'><span class='cell-number'>6</span></div><div class='cell black'></div><div class='cell black'></div><div class='cell'></div><div class='cell black'></div><div class='cell black'></div><div class='cell'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell'></div><div class='cell black'></div><div class='cell'><span class='cell-number'>7</span></div><div class='cell'></div><div class='cell'></div><div class='cell'></div><div class='cell black'></div><div class='cell'><span class='cell-number'>8</span></div><div class='cell'></div><div class='cell'></div><div class='cell'></div><div class='cell black'></div><div class='cell'><span class='cell-number'>9</span></div><div class='cell'><span class='cell-number'>10</span></div><div class='cell'></div><div class='cell'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell'></div><div class='cell black'></div><div class='cell black'></div><div class='cell'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell'></div><div class='cell black'></div><div class='cell'></div><div class='cell black'></div><div class='cell'><span class='cell-number'>11</span></div><div class='cell black'></div><div class='cell'></div><div class='cell black'></div><div class='cell black'></div><div class='cell'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell'></div><div class='cell black'></div><div class='cell'><span class='cell-number'>12</span></div><div class='cell'></div><div class='cell'></div><div class='cell'></div><div class='cell'></div><div class='cell'></div><div class='cell'></div><div class='cell'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell'></div><div class='cell black'></div><div class='cell'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell'></div><div class='cell black'></div><div class='cell'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell'><span class='cell-number'>13</span></div><div class='cell'></div><div class='cell'></div><div class='cell'></div><div class='cell'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div><div class='cell black'></div></div><div class='clues'><div class='clue-section'><h3>Across</h3><div class='clue'><span class='clue-number'>1.</span>Striped big cat (5)</div><div class='clue'><span class='clue-number'>5.</span>Striped horse-like animal (5)</div><div class='clue'><span class='clue-number'>7.</span>King of the jungle (4)</div><div class='clue'><span class='clue-number'>8.</span>Large furry mammal (4)</div><div class='clue'><span class='clue-number'>9.</span>Wild canine that howls (4)</div><div class='clue'><span class='clue-number'>12.</span>Large gray mammal with trunk (8)</div><div class='clue'><span class='clue-number'>13.</span>Black and white bear from China (5)</div></div><div class='clue-section'><h3>Down</h3><div class='clue'><span class='clue-number'>2.</span>Tallest land animal (7)</div><div class='clue'><span class='clue-number'>3.</span>Forest animal with antlers (4)</div><div class='clue'><span class='clue-number'>4.</span>Hopping animal with long ears (6)</div><div class='clue'><span class='clue-number'>6.</span>Intelligent marine mammal (7)</div><div class='clue'><span class='clue-number'>10.</span>Nocturnal bird of prey (3)</div><div class='clue'><span class='clue-number'>11.</span>Flightless bird from Antarctica (7)</div></div></div></div></body></html>"
                  image:
                    imageName: c2d81765-f1e0-4027-a35f-e5b07199719a_puzzle.png
                    format: .png
                    downloadURL: https://storage.googleapis.com/apiverve.appspot.com/crossword/c2d81765-f1e0-4027-a35f-e5b07199719a_puzzle.png?GoogleAccessId=635500398038-compute%40developer.gserviceaccount.com&Expires=1764735733&Signature=NitxaMzQE1mhPUXGiatXw6CRuBIc0eM6%2FSKplyNtis8%2FspnQ9N5w4Xyrq2wXDvM5GX0zXfAC3xGfNfmJznz9XAkgOfflyF0kVa81nteFARWUF3ZXrhgi0NcMMZiqUwmvW60QFKMrTyt8n24uxtdUn1luOy8XdiquUChdbBHropzKK6qSkLPMABJvIUaDR6SwaMJmEAcNlqURDKBWvKorago5J6kdYWcvy38CtQmTRq0VD%2FqnOe4AqMWB9h56sCEZMcK4CdTFxM70uy5q6QKqJYB3nVClkvrhPiMcaQNv9%2F0uhWncyCUC0hRD%2Bx%2BlTfjAdUtD51ibhHtEJ1a%2B%2BYyiKA%3D%3D
                    expires: 1764735733908
                  solutionImage:
                    imageName: 81403919-e8ad-40be-96d0-4482b24010b8_solution.png
                    format: .png
                    downloadURL: https://storage.googleapis.com/apiverve.appspot.com/crossword/81403919-e8ad-40be-96d0-4482b24010b8_solution.png?GoogleAccessId=635500398038-compute%40developer.gserviceaccount.com&Expires=1764735734&Signature=SqUFASLPSSll%2FedCynzwv5w%2BisVTdtf0Oco%2BRBleBRg8cXu%2F3myVaEPhcHG4MGkTvgrv5Xk9CGHKxu8ZDFjL7%2B%2Fw2uwT1nJN05P86SPD1Wshv6zHvcsVIgpbE7ByQ7uDSO6BN9K%2Bkxed7fjv%2BVmPPwZ50XZfZrUObsGbtmDdpn0Qx0ERpAdkqytfBVszsrkINdSlef0OM%2F%2BfPAc3q9%2BWD4lHATo4rFDwlLga%2BoSzYiloJkijwmTnmkI5%2F5pZXbaYmrp7pSIBjlPfY5jdiqrbEvNd7SmSBaXGOcEumd6UAqYNFLcyS0Gvyp41h9CjQDkb7u1nc9EdxhiVmSeBADxzeQ%3D%3D
                    expires: 1764735734469
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occured, try again later
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
- api_key: []
